#root {
  margin: 0;
  padding: 0;
  display: flex; /* Centers content horizontally and vertically */
  align-items: center; /* Align children vertically */
  justify-content: center; /* Align children horizontally */
  text-align: center;
  background: linear-gradient(-45deg, #5c6963, #5c6963, #D3D8C6, #5c6963);
  background-size: 400% 400%; /* Creates smooth animation */
  animation: gradientAnimation 15s ease infinite;
  height: 100vh; /* Ensures it spans the full viewport height */
  width: 100vw; /* Ensures it spans the full viewport width */
  overflow: hidden; /* Prevents content overflow */
  box-sizing: border-box; /* Ensures padding and borders don't affect dimensions */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}