#root {
  margin: 0;
  padding: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(-45deg, black, #2c5364, #0f2027, black);
  animation: gradientAnimation 20s ease infinite;
  background-size: 300% 300%; 
  animation: gradientAnimation 10s ease infinite;
  box-sizing: border-box;
  min-height: 100vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
